body {
  font: 12px/15px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #eee;
  color: #444;
  }

.interactive-pre {
  font-size: 4px;
  line-height: 4px;
  letter-spacing: 2px;
  }

.wax-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  left:10px;
  top:10px;
  max-width:300px;
  }
