body {
  font: 12px/15px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #eee;
  color: #444;
  }

.map_cube {
    height:500px;
    width:50%;
    float:left;
}

.interactive-pre {
  font-size: 4px;
  line-height: 4px;
  letter-spacing: 2px;
  }

