/**
 * Legend =============================================================
 */
.openlayers-legends {
  position:absolute;
  left:5px;
  bottom:5px;
  z-index:3000;
  }

.openlayers-legends .legend {
  background:#fff;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.openlayers-legends .swatch {
  float:left;
  display:block;
  width:15px;
  height:15px;
  margin-right:5px;
  }

.maputil-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  left:10px;
  top:10px;
  max-width:300px;
  }

.maputil-popup {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  left:10px;
  top:10px;
  max-width:300px;
  }

