.wax-legends {
  position:absolute;
  left:10px;
  bottom:10px;
  z-index:999999;
  }

.wax-legends .wax-legend {
  background:#333;
  color:#fff;
  }

.wax-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  left:10px;
  top:10px;
  max-width:300px;
  }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  }

