body {
  font:normal 15px/25px Georgia,serif;
  background:url('noise.png') #eee;
  color:#25282B;
  }
a {
  color:#b64c4c;
  }
div.header {
  font:normal 10px/20px Verdana,sans-serif;
  background:#fff;
  padding:5px;
}
div.page {
  width:800px;
  margin-left:225px;
  }
div.section {
  float:left;
  }
div.map {
  position:relative;
  border:1px solid #000;
  float:left;
  width:448px;
  height:300px;
  }
  span.attribution {
    z-index:9999999;
    background:url('noise.png') #eee;
    color:#888;
    position:absolute;
    bottom:-2px;
    left:-2px;
    padding:5px 10px;
    font-size:10px;
    }
div.dark {
  background-color:#222;
  }
div.md {
  width: 450px;
  float:left;
  }
  div.md pre code {
    padding:10px;
    }
  div.md a.para {
    color:#d18c5c;
    margin:5px;
    text-decoration:none;
  }
  div.md a.para:hover {
    color:#000;
    text-decoration:underline;
  }
h2 {
  border-bottom:1px solid #333;
  }
pre.sh_javascript, div.sidebar {
  width: 300px;
  padding:0 25px;
  margin:0;
  float:right;
  }
pre {
  font: normal 12px/20px 'Andale Mono',Monaco,Consolas,'Lucida Console',monospace;
  }
code {
  background:#fbe7cc;
  padding:1px 3px;
  }

.navigation {
  width:200px;
  position:fixed;
  top:50px;
  left:10px;
}

  .navigation ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  .navigation ul li a {
    text-decoration:none;
  }
  .navigation ul li a:hover {
    text-decoration:underline;
  }
  .navigation ul li {
    padding:0px;
    font:normal 12px/18px 'Andale Mono',Monaco,Consolas,'Lucida Console',monospace;
  }
  .navigation ul li.H2 {
    font-weight:bold;
  }
  .navigation ul li.H3 {
    padding-left:3px;
  }

.geocoder-input-wrapper {
  clear:both;
  width:440px;
  padding:5px;
  background-color:#444;
  color:#fff;
}
.geocoder-input-wrapper label {
  padding:0 5px;
}


/**
 * This page's style
 */
div.wax-tooltip {
  background-color:#333;
  color:#fff;
  z-index:9999999999;
  opacity:1;
  -moz-transition:opacity .5s;
  -webkit-transition:opacity .5s;
}

div.wax-fade { opacity:0; }

a.wax-fullscreen {
  position:absolute;
  top:5px;
  left:5px;
  z-index:99999;
  }

